@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");


:root {
    --main-very-dark-blue: hsl(217, 54%, 11%);
    --card-very-dark-blue: hsl(216, 50%, 16%);
    --line-very-dark-blue: hsl(215, 32%, 27%);
    --white--: hsl(0, 0%, 100%);
    --soft-blue--: hsl(215, 51%, 70%);
    --cyan--: hsl(178, 100%, 50%)
}

h1 {
    color: var(--white--);
    font-size: 20px;
    font-weight: 400;
    padding: 0 20px;
    text-decoration: none;
    
}
h1:hover{
    cursor: pointer;
    color: var(--cyan--);
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-top: 20px
}

body {
    background-color: var(--main-very-dark-blue);
    min-height: 100vh;
    font-size: 17px;
    font-family: Outfit, sans-serif;
    padding: 50px;
    text-decoration: none;
    box-sizing: border-box;
    justify-content: space-between;
}

.main-container {
    background-color: var(--card-very-dark-blue);
    box-shadow: 0 -2px 50px 0 var(--main-very-dark-blue);
    width: max(18%, 20rem);
    height:570px;
    margin: 100px auto 20px  auto;
    /* padding: 50px; */
    border-radius: 10px
}

.img-container {
    
    padding: 0 20px;
    min-height: 18rem;
    overflow: hidden;

}
.img-container :hover {
    background-image: url("images/icon-view.svg");
    background-color: var(--cyan);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    opacity: 0.6;

  }

.info-container {
    border-radius: 20px;
}

.info-description {
    color: var(--soft-blue--);
    padding: 0 15px;
}

.price {
    color: var(--cyan--);
    padding: 0 20px;
    position: static;
    font-weight: 600;
}

.icon-ethereum {
    width: 10px;
}

.icon-clock {
    position: relative;
    top:5px;
    width: 20px;
}
.days-left{
    color: var(--soft-blue--);
    position: relative;
    top: -80px; left: 200px;
    width:150px;
    display: inline-block;
  gap: 10px;

}
hr{
    border: 1px solid var(--line-very-dark-blue);
    position: relative;
    top: -80px;
    width:90%;
    height: 0px;
    font-size:1px;

}


.creation{
    position:relative;
    top:-70px;
    left:30px;
}
.image-avatar{
    background-size: cover;
    position: relative;
    top:5px;
    right:15px;
    height:30px;
    width: 30px;
    padding: 0 ;
    border-radius: 50%;
    border: 1px solid var(--white--);
    
}
.creation{
    color: var(--soft-blue--);
}
span{
    color: var(--white--);
}
span:hover{
    cursor: pointer;
    color: var(--cyan--);
}
